<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= game.name %></title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-900 text-white">
    <div class="container mx-auto p-6">
      <h1 class="text-3xl font-bold"><%= game.name %></h1>
      <img src="<%= game.header_image %>" class="mt-2 w-full max-w-md" />
      <p class="mt-2"><%= game.short_description %></p>
      <p class="mt-2">
        <strong>Harga:</strong> <%= game.is_free ? "Gratis" :
        game.price_overview ? game.price_overview.final_formatted : "Tidak
        tersedia" %>
      </p>
      <a
        href="/players/<%= game.steam_appid %>"
        class="mt-4 inline-block bg-blue-600 p-2 rounded"
        >Lihat Jumlah Pemain</a
      >
      <p class="mt-2"><%- game.detailed_description %></p>
    </div>
  </body>
</html>
